<template lang="pug">
	.home
		h1.title Users
		.home__top
			vUsersSearch
			vPerPage(@updateSelect="onSelect")
		vUsersList(:userData="userData" :userPerPage="userPerPage")
</template>

<script>

import vUsersSearch from '../components/v-users-search.vue';
import vUsersList from '../components/v-users-list.vue';
import vPerPage from '../components/v-per-page.vue';

export default {
  name: 'Home',
  props: {
    userData: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {
      userPerPage: 6
    };
  },
  components: {
    vUsersSearch,
    vUsersList,
    vPerPage
  },
  methods: {
    onSelect(data) {
      this.userPerPage = +data;
    }
  }
};
</script>

<style lang="sass">
.home
	&__top
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 10px
		margin: 0 0 10px
</style>