<template lang="pug">
	.profile
		.breadcrumbs
			router-link.breadcrumbs__item(to="/") Home
			.breadcrumbs__item /
			.breadcrumbs__item {{profile.first_name}} {{profile.last_name}}
		h1.title Profile
		.user
			img.user__photo(:src="profile.avatar")
			.user__inner
				.user__item
					.user__label First name:
					.user__value {{profile.first_name}}
				.user__item
					.user__label Last name:
					.user__value {{profile.last_name}}
				.user__item
					.user__label E-mail:
					.user__value {{profile.email}}
</template>

<script>

export default {
  name: 'Profile',
  props: {
    userData: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  computed: {
    profile() {
      const filteredUser = this.userData && this.userData.filter((user) => +user.id === +this.$route.params.id);
      return (filteredUser && filteredUser[0]) || {};
    }
  }
};
</script>

<style lang="sass">
.profile
	display: flex
	flex-direction: column
	
	&__title
		color: $gray-700
		text-align: center
		width: 100%
		font-size: 2rem
		margin: 0 0 20px

.breadcrumbs
	display: flex
	padding: 15px
	background: $gray-850
	border: 1px solid $gray-800
	border-radius: 5px
	margin: 0 0 50px
	
	&__item
		margin: 0 5px 0 0
		color: $gray-400
		
		&:last-child
			color: $primary-color

.user
	display: flex
	justify-content: flex-start
	align-items: flex-start
	align-self: flex-start
	padding: 20px
	border-radius: 5px
	background: $gray-850
	border: 1px solid $gray-800
	
	&__photo
		margin: 0 20px 0 0
		border-radius: 5px
		border: 1px solid $gray-800
	
	&__item
		display: flex
		margin: 0 0 10px
	
	&__label
		margin: 0 5px 0 0
		font-weight: 600
	
	&__value
		font-style: italic
		color: $white
</style>