<template lang="pug">
	.v-per-page
		.v-per-page__label Users per page
		select.v-per-page__select(@change="onSelect")
			option(value="3") 3
			option(value="6" selected) 6
			option(value="12") 12
			option(value="24") 24
</template>

<script>
export default {
  name: 'v-per-page',
  methods: {
    onSelect(e) {
      this.$emit('updateSelect', e.target.value);
    }
  }
};
</script>

<style lang="sass">
.v-per-page
	display: flex
	align-items: center
	height: 100%
	
	&__label
		font-size: .8rem
		margin: 0 5px 0 0
		color: $gray-700
	
	&__select
		background: $gray-850
		color: $white
		padding: 8px 10px
		border: 1px solid $gray-800
		border-radius: 5px
		cursor: pointer
		outline: none
</style>