<template lang="pug">
	.v-user-search
		input.v-user-search__input(@input="filteredList" placeholder="Search...")

</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'v-user-search',
  computed: {
    ...mapGetters([
      'GET_USERS',
      'USERS'
    ])
  },
  methods: {
    filteredList(e) {
      let query = e.target.value.toLowerCase();
      let filteredUser = this.GET_USERS.filter(user => {
        const { first_name, last_name, email } = user;
        const fullName = `${first_name} ${last_name}`;
        
        return first_name.toLowerCase().includes(query) ||
          last_name.toLowerCase().includes(query) ||
          fullName.toLowerCase().includes(query) ||
          email.toLowerCase().includes(query);
      });
      this.$store.commit('FILTERED_USERS', filteredUser);
    }
  }
};
</script>

<style lang="sass">
.v-user-search
	flex: 1
	margin: 0 20px 0 0
	
	&__input
		width: 100%
		padding: 15px
		border-radius: 5px
		border: 1px solid $gray-800
		background: $gray-850
		color: $white
		
		&:focus
			outline: none
</style>