<template lang="pug">
	.v-users-item
		img.v-users-item__avatar(:src="userData.avatar" :alt="userData.first_name")
		.v-users-item__name {{userData.first_name}} {{userData.last_name}}
		.v-users-item__email {{userData.email}}
		router-link.v-users-item__link(:to="/profile/ + userData.id") view profile
</template>

<script>

export default {
  name: 'v-users-item',
  props: {
    userData: {
      type: Object,
      default() {
        return {};
      }
    }
  }
};
</script>

<style lang="sass">

.v-users-item
	display: flex
	flex-direction: column
	align-items: center
	padding: 20px
	border-radius: 5px
	background: $gray-850
	width: 100%
	box-sizing: border-box
	border: 1px solid $gray-800
	transition: all .3s ease
	
	&.animated
		
		transform: translateX(-100%)
	
	&:hover
		box-shadow: $shadow-primary
	
	&__avatar
		object-fit: cover
		border-radius: 50%
		margin: 0 0 20px
		width: 90px
		height: 90px
		border: 2px solid white
	
	&__name
		font-size: 1.2rem
		margin: 0 0 10px
		font-weight: 600
		color: $white
	
	&__email
		font-style: italic
		color: $gray-600
		margin: 0 0 10px
	
	&__link
		background: $primary-color
		padding: 10px 20px
		text-transform: uppercase
		font-size: .7rem
		font-weight: 600
		border-radius: 5px
		color: $white
		transition: all .3s ease
		text-decoration: none
		
		&:hover
			background: $primary-color-hover

</style>