<template lang="pug">
	
	.v-users
		.v-users__item(v-for="user in paginateUsers")
			v-users-item(
				:key="user.id"
				:userData="user")
		.not-found(v-if="userData.length === 0") Sorry, user not found
		
		.pagination(v-if="pages > 1")
			button.pagination__button(@click="pageNumber--" :disabled="prev") prev
			.pagination__page-n
				.pagination__item(
					v-for="page in pages"
					:key="page"
					:class="{'active': page === pageNumber}"
					@click="pageClick(page)") {{page}}
			button.pagination__button(@click="pageNumber++" :disabled="next") next

</template>

<script>
import vUsersItem from '../components/v-users-item.vue';

export default {
  name: 'v-users-list',
  components: {
    vUsersItem
  },
  props: {
    userData: {
      type: Array,
      default() {
        return [];
      }
    },
    userPerPage: {
      type: Number,
      default() {
        return null;
      }
    }
  },
  data() {
    return {
      pageNumber: 1,
      next: false,
      prev: true
    };
  },
  computed: {
    pages() {
      return Math.ceil(this.userData.length / this.userPerPage);
    },
    paginateUsers() {
      let from = (this.pageNumber - 1) * this.userPerPage;
      let to = from + this.userPerPage;
      this.next = (this.pageNumber === this.pages);
      this.prev = (this.pageNumber === 1);
      return this.userData.slice(from, to);
    }
  },
  methods: {
    pageClick(page) {
      this.pageNumber = page;
    }
  },
  watch: {
    userPerPage() {
      this.pageNumber = 1;
    },
    userData() {
      this.pageNumber = 1;
    }
  }
};
</script>

<style lang="sass">
.v-users
	display: flex
	flex-wrap: wrap
	
	&__item
		padding: 10px
		flex-basis: 33.333%
		box-sizing: border-box
		
		@include MQ(sm)
			flex-basis: 50%
		
		@include MQ(xs)
			flex-basis: 100%

.not-found
	width: 100%
	text-align: center
	padding: 50px
	font-size: 1.6rem
	text-transform: uppercase
	letter-spacing: 4px

.pagination
	width: 100%
	display: flex
	justify-content: center
	margin: 10px 0 0
	
	&__page-n
		display: flex
		justify-content: center
	
	&__item
		padding: 5px 10px
		background: $gray-850
		margin: 0 5px
		border-radius: 5px
		border: 1px solid $gray-800
		cursor: pointer
		
		&.active
			cursor: default
			background: $primary-color
	
	&__button
		cursor: pointer
		padding: 0 20px
		margin: 0 5px
		border-radius: 5px
		background: $gray-850
		border: 1px solid $gray-800
		color: $white
		outline: none
		
		&[disabled]
			cursor: default
			color: $gray-800
			border-color: $gray-850

</style>