<template lang="pug">
	#app
		header.header
			.container
				img.logo(src="./assets/logo.png")
		section.section
			.container
				router-view(:userData="USERS")
		footer.footer &copy; 2020 Test task "Evergreen"
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'App',
  computed: {
    ...mapGetters([
      'USERS'
    ])
  },
  methods: {
    ...mapActions([
      'GET_USERS_FROM_API'
    ])
  },
  mounted() {
    this.GET_USERS_FROM_API();
  }
};

</script>

<style lang="sass">
*
	padding: 0
	margin: 0
	box-sizing: border-box

body
	font-family: Avenir, Helvetica, Arial, sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	color: $white
	background: $gray-900

section
	padding: 50px 0
	min-height: calc(100vh - 138px)

.container
	display: flex
	flex-direction: column
	width: 1124px
	max-width: 100%
	margin: auto
	padding: 0 20px

.header
	padding: 10px 0
	border-bottom: 1px solid rgba(255, 255, 255, .1)

.title
	text-align: center
	font-size: 2rem
	text-transform: uppercase
	color: $gray-300
	margin: 0 0 30px

.logo
	align-self: flex-start

.footer
	padding: 20px 0
	color: $white
	text-align: center
	border-top: 1px solid $gray-800

</style>
